<!--PAGINA INICIAL-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/styles/fonts.css" rel="stylesheet">
    <link href="/styles/media.css" rel="stylesheet">
    <title>Libonli</title>
</head>

<body>
    
    
    <header>
        <div id="title">
            <h1>Libonli </h1>
            <h1></h1>
            <h1></h1>
        </div>

        <ul>
            <a href="./index.html"><li>Início</li></a>
            <a href="#"><li>Serviços</li></a>
            <a href="#"><li>Sobre</li></a>
            <a href="#"><li>Contato</li></a>
            <a href="./create.html" id="inscreva-se-btn"><li>Cadastre-se agora </li></a>
        </ul>
    </header>

    <main>
        <aside>
            <h2><span>Libonli</span></h2>
            <h2>biblioteca</h2>
            <p>
                Libonli biblioteca na sua mão
            </p>
            <form>
                <input class="form-control mt-4" type="text" name="user"     id="user" placeholder="Matrícula">
                <input class="form-control mt-4" type="text" name="email" id="email" placeholder="email">
                <input class="form-control mt-4" type="text" name="password" id="password" placeholder="senha">
                <ul2>
                    <a class="btn btn-primary mt-4" type="submit" href="./home.html" ><li>ENTRAR</li></a><br>
                    
                </ul2>
                
            </form>
        </aside>
        

        <article>
            <img src="./img/garota-lendo.png" alt="garota-lendo">
        </article>

    </main>
    
</body>
</html>