<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/servicos.css" rel="stylesheet" />
    <link href="/styles/fonts.css" rel="stylesheet" />
    <link href="/styles/media.css" rel="stylesheet" />
    <title>Serviços</title>
  </head>
  <body>
    <header>
      <div id="title">
        <h1>Libonli</h1>
        <h1></h1>
        <h1></h1>
      </div>

      <ul>
        <a href="./index.html"><li>Início</li></a>
        <a href="./servico.html"><li>Serviços</li></a>
        <a href="./sobre.html"><li>Sobre</li></a>
        <a href="./contato.html"><li>Contato</li></a>
        <a href="./create.html" id="inscreva-se-btn"
          ><li>Cadastre-se agora</li></a
        >
      </ul>
    </header>

    <main>
    <div class="">
        <div >
        <div>
            <p>
            A Biblioteca Fametro, apresenta infraestrutura
            bibliográfica e documentária para dar o devido apoio às
            atividades acadêmicas, visando o completo atendimento ao
            indivíduo. Nossa missão é oferecer informação atualizada
            com qualidade, atuando como alicerce às atividades de
            ensino, pesquisa e extensão da Fametro.
            </p>
            <p>
            Reunir e preservar acervo para promover e disseminar a
            informação, visando o embasamento das pesquisas e o
            desenvolvimento dos cursos mantidos pela Instituição.
            Atender à comunidade acadêmica em suas necessidades
            bibliográficas e informacionais. Buscar a satisfação dos
            usuários através de atendimento otimizado, ético e
            profissional. Incentivar sempre o hábito da leitura e da
            pesquisa, promovendo o treinamento de usuários no que se
            relaciona à utilização dos recursos oferecidos pelas
            bibliotecas.
            </p>
        </div>
    </div>
              
    </main>
  </body>
</html>
