<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/servico.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <title>Serviços</title>
</head>

<body>
  <header>
    <div class="caixa">
      <h1>Libonli</h1>
      <nav>
        <ul>
          <a href="./index.html"><li>Início</li></a>
          <a href="./servico.html"><li>Serviços</li></a>
          <a href="./sobre.html"><li>Sobre</li></a>
          <a href="./contato.html"><li>Contato</li></a>
        </ul>
      </nav>
    </div>

  </header>

  <main>
    <div class="texto-principal">
      <p>
        A Biblioteca Fametro, apresenta infraestrutura
        bibliográfica e documentária para dar o devido apoio às
        atividades acadêmicas, visando o completo atendimento ao
        indivíduo. Nossa missão é oferecer informação atualizada
        com qualidade, atuando como alicerce às atividades de
        ensino, pesquisa e extensão da Fametro.
      </p>
      <p>
        Reunir e preservar acervo para promover e disseminar a
        informação, visando o embasamento das pesquisas e o
        desenvolvimento dos cursos mantidos pela Instituição.
        Atender à comunidade acadêmica em suas necessidades
        bibliográficas e informacionais. Buscar a satisfação dos
        usuários através de atendimento otimizado, ético e
        profissional. Incentivar sempre o hábito da leitura e da
        pesquisa, promovendo o treinamento de usuários no que se
        relaciona à utilização dos recursos oferecidos pelas
        bibliotecas.
      </p>
    </div>

    <div class="hor-func">
      <p class="texto-horario">Horário de Funcionamento:</p>
      <div class="clock">
        <img src="./img/clock.png" alt="horário">
        <div class="Hora-de-func-info">
          <p>
            Segunda à sexta-feira de 8 às 13hs.
          </p>
          <p>
            Sábado: de 8 às 12hs.
          </p>
        </div>
      </div>
    </div>

    <div class="fametro-links">
      <ul>
        <li class="fametro-links-buttons"><a
            href="https://sistemas.portaledu.com.br/corpore.net/Source/Bib-Biblioteca/Public/BibFirewall.htm?CodColigada=1&amp;CodFilial=1&amp;CodUnidade=1 "
            target="_blank"></a>Repositório Acadêmico</li>
        <li class="fametro-links-buttons"><a href="https://fametro.edu.br/storage/2019/12/regulamento_biblioteca_atualizado19022016.pdf"
            target="_blank"></a>Regulamento da Biblioteca</li>
        <li class="fametro-links-buttons"><a href="https://fametro.edu.br/storage/2019/12/politicas_biblioteca_fametro.pdf"
            target="_blank"></a>Política de Atualização da Biblioteca</li>
      </ul>
    </div>

  </main>
</body>

</html>